{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password change'%}{% endblock %}
{% block content %}
<h3>{% trans 'Password change'%}</h3>
<p class="info">{% trans 'Here you can change the password for your account. Type your current password, and the new one twice.'%}</p>
{% if form.errors.not_valid or form.errors.are_different or form.errors.is_blank %}
<div id="errorContainer">
  <ul>
    {% if form.errors.not_valid %}<li>{% trans 'The current password is not valid.'%}</li>{% endif %}
    {% if form.errors.are_different %}<li>{% trans "New passwords don't match!"%}</li>{% endif %}
    {% if form.errors.is_blank %}<li>{% trans 'The new password cannot be blank!'%}</li>{% endif %}
  </ul>
</div>
{% endif %}
<form action="{% url accounts_change_password %}" method="post">
  <table>
    <tr {% if form.old_password.errors %}class="error_tr"{% endif %}>
      <td><label>{% trans 'Current password.'%}</label></td>
      <td>{{ form.old_password }}</td>
{% if form.old_password.errors %}
      <td>{{ form.old_password.errors }}</td>
{% endif %}
    </tr>
    <tr {% if form.new_password1.errors %}class="error_tr"{% endif %}>
      <td><label>{% trans 'New password.'%}</label></td>
      <td>{{ form.new_password1 }}</td>
{% if form.new_password1.errors %}
      <td>{{ form.new_password1.errors }}</td>
{% endif %}
    </tr>
    <tr {% if form.new_password2.errors %}class="error_tr"{% endif %}>
      <td><label>{% trans 'New password again.'%}</label></td>
      <td>{{ form.new_password2 }}</td>
{% if form.new_password2.errors %}
      <td>{{ form.new_password2.errors }}</td>
{% endif %}
    </tr>
  </table>
  <input type="submit" value="{% trans 'Change it'%}" />
</form>
<br />
<p>{% trans "If you can't remember your current password, use the password reset page" %} <a href="{% url reset_password %}">{% trans "here" %}.</a></p>
<a href="{% url edit_profile %}">{% trans 'Go back.'%}</a>
{% endblock %}
