{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password reset'%} - {% endblock %}
{% block content %}
<div class="loginbox">
  <h3>{% trans 'Password reset'%}</h3>
  <p class="info">{% trans 'Please enter your username or e-mail address and we will send you a new password via e-mail.'%}</p>
  <br/>
  <form action="{% url 'accounts:password_reset' %}" method="post">{% csrf_token %}
    <table>
      <tr {% if form.username_or_password.errors %}class="error_tr"{% endif %}>
        <td><label>{% trans 'Your username or email'%}</label></td>
        <td>{{ form.username_or_password }}</td>
  {% if form.username_or_password.errors %}
    <td>{{ form.username_or_password.errors }}</td>
  {% endif %}
      </tr>
    </table>
    <p><input type="submit" value="{% trans 'Reset my password'%}" />, <a href="{% url 'index' %}">{% trans 'or go back'%}</a></p>
  </form>
</div>
{% endblock %}
