{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password reset'%} - {% endblock %}
{% block content %}
<div class="loginbox">
  <h3>{% trans 'Password reset'%}</h3>
  {% if validlink %}

  <p  class="info">{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
  <br/>
  <form method="post">{% csrf_token %}
    <input type="hidden" class="hidden" autocomplete="username" value="{{ form.user.get_username }}"/>
    <table class="mc">
      <tr {% if form.new_password1.errors %}class="error_tr"{% endif %}>
        <td><label>{% trans 'New password:'%}</label></td>
        <td>{{ form.new_password1 }}</td>
      {% if form.new_password1.errors %}
        <tr><td colspan="2">{{ form.new_password1.errors }}</td></tr>
      {% endif %}
      </tr>
      <tr {% if form.new_password2.errors %}class="error_tr"{% endif %}>
        <td><label>{% trans 'Confirm password:'%}</label></td>
        <td>{{ form.new_password2 }}</td>
      {% if form.new_password2.errors %}
        <tr><td colspan="2">{{ form.new_password2.errors }}</td></tr>
      {% endif %}
      </tr>
    </table>
    <p><input type="submit" value="{% trans 'Reset my password'%}" /></p>
  </form>
</div>
{% else %}

<p>{% translate "The password reset link used is invalid, possibly because it has already been used. Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
