# -*- coding: utf-8 -*-
# Django settings for comicagg project.

import os

DEBUG = False
TEMPLATE_DEBUG = DEBUG

MAINTENANCE = False

#Will receive error emails when DEBUG = False
ADMINS = (
    ('name', 'email'),
)

#Will receive error emails for other errors
MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'HOST': '',
        'PORT': '',
        'NAME': 'comicagg',
        'USER': 'comicagg',
        'PASSWORD': 'comicagg',
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be avilable on all operating systems.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'CET'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en'

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash if there is a path component (optional in other cases).
# Examples: "http://media.lawrence.com", "http://example.com/media/"
MEDIA_URL = ''

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = ''

# Used for password reset email and other stuff where a full URL needs to be built
DOMAIN = ''

# URL prefix for static files
STATIC_URL = '/static/'
# Filesystem folder where static files will be put by manage.py collectstatic
STATIC_ROOT = '/var/www/static/'


# For SMTP email sending
EMAIL_HOST = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''

DEFAULT_FROM_EMAIL = ''

# From address, for admin emails
SERVER_EMAIL = DEFAULT_FROM_EMAIL
# Prefix for email sent to the admins
EMAIL_SUBJECT_PREFIX=''

# https://docs.djangoproject.com/en/1.6/ref/settings/#std:setting-ALLOWED_HOSTS
ALLOWED_HOSTS = ['']
