<div id="{% block id %}{% endblock %}" class="rounded_box">
  <table cellspacing="0">
    <tr class="row">
      <td class="cell tl">&nbsp;</td>
      <td class="cell t">&nbsp;</td>
      <td class="cell tr">&nbsp;</td>
    </tr>
    <tr class="row">
      <td class="cell l">&nbsp;</td>
      <td class="cell">{% block content %}{% endblock %}</td>
      <td class="cell r">&nbsp;</td>
    </tr>
    <tr class="row">
      <td class="cell bl">&nbsp;</td>
      <td class="cell b">&nbsp;</td>
      <td class="cell br">&nbsp;</td>
    </tr>
  </table>
</div>

