{% extends 'blog/base.html' %}
{% load i18n blogtags%}
{% if new_posts %}{% block onload %}forget_new_posts(){% endblock %}{% endif %}
{% block blog_content %}
{% for item in posts %}
  <div class="post {% if item|new:user %}new_post{% endif %}" id="p{{ item.id }}">
    <h4>{% if item|new:user %}<img src="{{ settings.MEDIA_URL}}images/new.png" alt=""/>{% endif %} {{ item.title }}</h4>
    {% if item.html %}{{ item.text|safe }}{% else %}{{ item.text|linebreaksbr }}{% endif %}
    <div class="small_text info"><a href="http://netsphere.proyectoanonimo.com/index.php?topic={{ item.id_topic }}">{% trans "Read it in the forum"%}</a><br/><br/>{{ item.user }}, {{ item.date|date:"j F Y" }}</div>
  </div>
{% endfor %}
{% if not posts %}
  <p>{% trans 'Nothing here right now' %}</p>
{% else %}
{% if not archive %}
  <p class="all_link"><a href="{% url blog_archive %}">{% trans "All posts" %}</a></p>
{% endif %}
{% endif %}
{% endblock %}
