{% extends 'admin/base_site.html' %}
{% load i18n static %}
{% block extrastyle %}
  {{ block.super }}
  <style>
pre {
	border:1px dashed gray;
	padding:10px;
	font-weight:bolder;
	background:#f0f0f0;
}
code {
	font-weight:bolder;
	background:#f0f0f0;
}
</style>
{% endblock %}

{% block content %}
  <div id="content-main">
    <p>
      La función custom debe crear objetos ComicHistory y añadirlos a la lista <i>history_set</i>. Esto es lo único que debe hacer. Para ello se dispone del objeto del comic en la variable <i>comic</i>. Los objetos ComicHistory se crean y añaden así:<pre>h = ComicHistory(comic, url, alt_text) history_set.append(h)</pre>
    </p>
    <p>Cuando se usa la función personalizada el resto de campos (re1_url, re1_base, re1_re, re1_backwards, re2_url, re2_base, re2_re y re2_backwards) dejan de tener sentido y se pueden usar para guardar lo que haga falta en ellos.</p>
    <p>Se disponen de varias funciones para ayudar:</p>
    <ul>
      <li>
        <code>list open_url(url)</code>: abre una url y devuelve una lista con las líneas de la misma.
      </li>
      <li>
        <code>(MatchObject, lineas) match_lines(comic, lineas, regexp, backwards)</code>: busca en <i>lineas</i> la primera ocurrencia de <i>regexp</i>. Devuelve una tupla con el objeto de la coincidencia y las líneas restantes.
      </li>
      <li>
        <code>string geturl(MatchObject)</code>: devuelve la url de una coincidencia.
      </li>
      <li>
        <code>string getalt(MatchObject)</code>: devuelve el texto alternativo de una coincidencia.
      </li>
      <li>
        <code>(string, alt) getredirect(comic, url)</code>: devuelve la url de la primera imagen y el texto alternativo. Los campos normales del comic deben ser correctos.
      </li>
      <li>
        <code>string getredirect(comic)</code>: devuelve la url donde buscar la imagen del comic. Los campos de redirección del comic deben ser correctos.
      </li>
    </ul>
    <p>Además se pueden usar una de estas funciones que hacen cosas más complejas (se escriben tal y como están en el campo de la función):</p>
    <ul>
      <li>
        <code>severalinpage(comic, history_set)</code>: busca varias imagenes en la misma página. Los campos re1_url, re1_base y re1_re del comic deben estar rellenos.
      </li>
    </ul>
    <p>NO hay que:</p>
    <ul>
      <li>Guardar los objetos ComicHistory.</li>
      <li>
        Comprobar si se ha encontrado alguna imagen. La excepción NoMathException se lanzará automáticamente si no se ha rellenado el array <i>history_set</i>.
      </li>
      <li>Notificar a los usuarios de las nuevas tiras.</li>
      <li>Modificar el objeto del comic con la última tira o la fecha de actualización.</li>
    </ul>
  </div>
{% endblock %}
