{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}" />
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {
        width: inherit;
      }
    </style>
  {% endif %}
{% endblock %}

{% block content %}
  <div id="content-main">
    {% for id, strip in strips.items %}
      {% if strip %}
        <a href="/admin/comics/strip/{{ strip.id }}/">Comic strip id={{ strip.id }}</a><br />
        <img src="{{ strip.image_url }}" style="width:500px" title="{{ strip.alt_text }}" /><br />
      {% else %}
        Comic strip id={{ id }} no existe
      {% endif %}
      <hr />
    {% endfor %}
  </div>
{% endblock %}
