{% extends 'admin/base_site.html' %}
{% load i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'admin/css/changelists.css' %}" />
  {% if cl.formset %}
    <link rel="stylesheet" href="{% static 'admin/css/forms.css' %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {
        width: inherit;
      }
    </style>
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="/admin/">Inicio</a> &rsaquo; {% trans 'Reported broken images' %}
  </div>
{% endblock %}

{% block content %}
  <div id="content-main">
    {% for k, ch in chs.items %}
      {% if ch %}
        <a href="/admin/comics/comichistory/{{ ch.id }}/">comic history id={{ ch.id }}</a><br />
        <img src="{{ ch.image_url }}" style="width:500px" title="{{ ch.alt_text }}" /><br />
      {% else %}
        comic history id={{ k }} no existe
      {% endif %}
      <hr />
    {% endfor %}
  </div>
{% endblock %}
