{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Inicio</a> &rsaquo; {% trans "Reported broken images"%}</div>{% endblock %}

{% block content %}
<div id="content-main">
{% for k,ch in chs.items %}
{% if ch %}
<a href="/admin/agregator/comichistory/{{ ch.id }}/">comic history id={{ ch.id }}</a><br/>
<img src="{{ ch.get_url }}" style="width:500px" title="{{ ch.alt_text }}"/><br/>
{% else %}
history id:{{ k }} no existe
{% endif %}
<hr/>
{% endfor %}
</div>
{% endblock %}