{% extends "admin/base_site.html" %}
{% load i18n %}
{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css" />{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="/admin/">Inicio</a> &rsaquo; {% trans "Reported broken images"%}</div>{% endblock %}

{% block content %}
<div id="content-main">
{% for ch in chs %}
<a href="/admin/agregator/comichistory/{{ ch.id }}/">comic history id={{ ch.id }}</a><br/>
<img src="{{ ch.get_url }}" style="width:500px"/><br/>
<hr/>
{% endfor %}
</div>
{% endblock %}