{% extends "base.html" %}
{% load i18n static %}
{% block content %}
<div class="br w90 mc">
  <div>
  <h3 id="about">{% trans "About this site" %}</h3>
  <p>{% trans "Comic Aggregator allows you to read lots and lots of webcomics in the same page." %}</p>
  {% blocktrans with repo=CODE_REPO|urlize %}<p>If you like the comics, PLEASE SUPPORT THE AUTHORS.</p>
  <p>The site is free, it doesn't have ads and YOU are not the product. It is a pet project of mine and allows me to learn about web tecnologies, not generate revenue.</p>
  <p>If you are interested in the code of the site, you can find it here: {{ repo }}</p>{% endblocktrans %}
  <h3 id="policies">{% trans 'Policies' %}</h3>
  <p>{% trans 'These policies explain how your data is handled:' %}
    <ul>
      <li><a href="{% url 'about:privacy' %}">{% trans 'Privacy policy' %}</a></li>
      <li><a href="{% url 'about:cookies' %}">{% trans 'Cookie policy' %}</a></li>
    </ul>
  </p>
  <h3 id="contact">{% trans 'Contact' %}</h3>
  <p>{% trans "For any problem or suggestion reach me on Github. For anything else drop me an email at&nbsp;" %}
    <img class="vm" src="{% static 'base/img/email.png' %}" alt="email"/></p>
</div>
{% endblock %}
