{% extends 'comics/organize_base.html' %}
{% load i18n comics_tags static %}
{% block title %}{% trans 'Organize' %} - {% endblock %}
{% block extra_head %}
        <link rel="stylesheet" href="{% static 'base/css/dnd.css' %}" type="text/css"/>
        <script src="//ajax.googleapis.com/ajax/libs/dojo/1.4.4/dojo/dojo.js"></script>
        <script src="{% static 'base/js/organize.js' %}" type="text/javascript"></script>
        <script type="text/javascript">
var usercomics = [];
var usercomics_id = [];
{% for comic in user_comics %}
    a = {'id':{{ comic.id}}, 'name':"{{ comic.name|escape }}", 'slug':"{{ comic.name|slugify }}", 'score':"{{ comic.get_rating|as_percent:8|to_int }}", 'total_votes':{{ comic.total_votes }}};
    usercomics.push(a);
    usercomics_id[{{ comic.id }}] = a;
{% endfor %}
dojo.require("dojo.dnd.Container");
dojo.require("dojo.dnd.Manager");
dojo.require("dojo.dnd.Source");
dojo.require("dojo.dnd.Avatar");
dojo.addOnLoad(initDND);
        </script>
{% endblock%}
{% block onload %}{% endblock %}
{% block orgcontent %}
<div id="organize">
    <div class="comic_list">
    <h3>{% trans "Organize your comics" %}</h3>
    <div id="trash">
        <p>{% trans "Drop comics here<br/>to delete them" %}</p>
    </div>
    <p>{% trans "Here you can sort your comics. Just select one or some of them (holding the Ctrl/Meta key) and drag them around." %}</p>
    <div class="save">
        <span id="saved" style="display:none"><img src="{% static 'base/img/ok16.png' %}" alt=""/></span>
        <span id="saving_text" style="display:none"><img src="{% static 'base/img/loaderarrows.gif' %}" alt=""/></span>
        <span id="save_error" style="display:none"><img src="{% static 'base/img/remove.png' %}" alt=""/> <span style="font-size:smaller"><a onclick="save()">({% trans "retry" %})</a></span></span>
    </div>
    <p class="text_left">
    {% spaceless %}
        {% trans "Alternatively, you can sort them:" %}&nbsp;
        <a onclick="sort_items(true)">{% trans "by name" %}</a>,&nbsp;
        <a onclick="sort_items(false)">{% trans "by score" %}</a>.
    {% endspaceless %}
    </p>
</div>
    <div class="comic_list">
        <div id="user_comics">
    {% for comic in auser_comics %}
            <span id="comic_{{ comic.id }}" class="dojoDndItem item">{{ comic }}</span>
    {% endfor %}
        </div>
        <div style="clear:both"></div>
    </div>
</div>
{% endblock %}
