{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Password reset'%}{% endblock %}
{% block content %}
<h3>{% trans 'Password reset'%}</h3>
<p class="info">{% trans 'Please enter your username or e-mail address and we will send you a new password via e-mail.'%}</p>
<form action="{% url reset_password %}" method="post">
  <table>
    <tr {% if form.data.errors %}class="error_tr"{% endif %}>
      <td><label>{% trans 'Your username/email. '%}</label></td>
      <td>{{ form.data }}</td>
{% if form.data.errors %}
  <td>{{ form.data.errors }}</td>
{% endif %}
    </tr>
  </table>
  <p><input type="submit" value="{% trans 'Reset my password'%}" /></p>
</form>
<br />
<a href="{% url index %}">{% trans 'Go back.'%}</a>
{% endblock %}
