{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div id="read">
    <div class="top_info">
        <h3>{% trans "Index of services" %}</h3>
        <ul>
        {% if user.is_authenticated %}
       <li>
           <h4>{% trans "Export user subscriptions" %}</h4>
           <a href="{% url 'ws:user_subscriptions_simple' %}">{{ settings.DOMAIN }}{% url 'ws:user_subscriptions_simple' %}</a>
       </li>
       <li>
           <h4>{% trans "Export user subscriptions with unread comics" %}</h4>
           <a href="{% url 'ws:user_subscriptions' %}">{{ settings.DOMAIN }}{% url 'ws:user_subscriptions' %}</a>
       </li>
        {% endif %}
       <li>
           <h4>{% trans "Unread counters" %}</h4>
           <a href="{% url 'ws:unread_user' user %}">{{ settings.DOMAIN }}{% url 'ws:unread_user' user %}</a>
       </li>
        </ul>
    </div>
</div>
{% endblock %}
