{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Account settings'%} -{% endblock %}
{% block extra_head %}{% endblock%}
{% block onload %}{% endblock %}
{% block content %}
<div class="box">
    <h3>{% trans "Account settings" %}</h3>
    <p>{% trans "Here you can change your password or your e-mail address." %}</p>
    <p class="ta-l">
        <a href="{% url 'accounts:password_change' %}">{% trans 'Change password'%}</a><br/>
        <a href="{% url 'accounts:email_change' %}">{% trans 'Change e-mail'%}</a> <span id="news">({% trans 'current:'%} {{ user.email }})</span><br/><br/>
    </p>
    <h4 class="red">{% trans 'Danger zone!' %}</h4>
    <p class="ta-l">
        <a href="{% url 'accounts:delete_account' %}">{% trans 'Delete account' %}</a>
    </p>
</div>
{% endblock %}
