{% extends 'comics/organize_base.html' %}
{% load i18n cache static comics_tags %}

{% block title %}{% trans 'Choose' %} - {% endblock %}

{% block extra_head %}
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.4.4/dojo/dojo.js" type="text/javascript"></script>
<script src="{% static 'base/js/organize_add.js' %}" type="text/javascript"></script>
<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
<script type="text/javascript">
  function _calculateScrollbarWidth() {
    console.log(`window ${window.innerWidth} x ${window.innerHeight}`);
    console.log(`viewport ${document.documentElement.clientWidth} x ${document.documentElement.clientHeight}`);

    const scrollbar_width = window.innerWidth - document.documentElement.clientWidth;
    document.documentElement.style.setProperty('--scrollbar-width', scrollbar_width + "px");

    const comic_list_height = document.documentElement.clientHeight - $('comic_list').cumulativeOffset()['top'] - scrollbar_width;
    document.documentElement.style.setProperty('--comic-list-height', comic_list_height + "px");
  }
  // recalculate on resize
  window.addEventListener('resize', _calculateScrollbarWidth, false);
  // recalculate on dom load
  document.addEventListener('DOMContentLoaded', _calculateScrollbarWidth, false);
  // recalculate on load (assets loaded as well)
  window.addEventListener('load', _calculateScrollbarWidth);
</script>
{% endblock%}

{% block body_style %}height:100vh{% endblock %}
{% block content_class %}content-fit-height{% endblock %}

{% block content %}
<div class="">
  <h3>{% trans "Add comics" %}</h3>
  <p>{% trans "Click on a comic to see more details about it." %}</p>
</div>
<div class="">
  <div class="filters">
    <span>{% trans "Quick filters:" %} <a onclick="filter_running()">{% trans "running" %}</a>,  <a onclick="filter_allcomics()">{% trans "all" %}</a>, <a onclick="filter_newcomics()">{% trans "new"%}</a>, <a onclick="filter_addedcomics()">{% trans "added"%}</a></span>
  </div>
</div>
<div class="">
  <div class="filters">
    <input id="filter_text" placeholder="{% trans 'Filter the list' %}" type="text" value="" class="filter" onkeyup="filter(this.value)"/>
  </div>
</div>

<div class="g g-fit-height" style="aheight: calc(100% - 73px - var(--scrollbar-width));">
  <div class="g-fit-height" style="">
    {% include 'comics/htmx/add_comic_list.html' %}
  </div>
  <div class="g-fit-height" style="">
    <div id="comic_info">
      <div id="comic_info_loading" class="comic_info_loading_indicator text-center">
        <img src="{% static 'base/img/loading.gif'%}" alt="loading comic..." />
      </div>
      <div id="comic_info_wrap" hx-indicator="#comic_info_loading"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // Ajusta la altura de la lista de comics
  $('comic_info_outer').style.top = $('comic_list').cumulativeOffset()['top'] - $$("#comic_info_outer>p")[0].getDimensions()['height'] + "px";
  var h = $('comic_info_outer').getDimensions()['height'] - 20;
  $('comic_list').style.height = h+"px";
  $('comic_info').style.height = h-8+"px";
</script>
{% endblock %}
