{% load i18n %}
{% url configure as conf_url %}
<div id="avisos">
{% if user.get_profile.alert_new_blog and user.get_profile.new_blogs %}
	<span class="aviso" id="new_blogs_notice">{% trans "There are new entries in the blog." %} <a onclick="hide_new_blogs()">{% trans "Remove the notice" %}</a>{% trans " or " %}<a href="{% url blog_index %}">{% trans "take me to the blog." %}</a><br/></span>
{% endif %}
{% if user.get_profile.alert_new_comics and user.get_profile.new_comics %}
	<span class="aviso" id="new_comics_notice">{% blocktrans %}There are {{ new_comic_count }} new comics in the database.{% endblocktrans %} <a onclick="hide_new_comics()">{% trans "Remove the notice" %}</a>{% blocktrans %}, <a href="{{ conf_url }}">go to the lists</a> or <a onclick="forget_new_comics()">forget the new comics.{% endblocktrans %}</a><br/></span>
{% endif %}
</div>
