{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Request a comic'%}{% endblock %}
{% block content %}
  <h3 class="text_left">{% trans 'Request a comic'%}</h3>
  <p class="info text_left">{% trans 'Write there the url of the comic you would like to read here and I will try to add is as soon as possible.'%}</p>
{% if form.url.errors %}
<div id="errorContainer">{{ form.url.errors }}</div>
{% endif %}
  <form action="{% url request %}" method="post">
    <div class="form_div"><label>{% trans "The comic's Url"%}</label><br/>{{ form.url }}</div>
    <div class="form_div"><label>{% trans 'Any comment?'%}</label><br/>{{ form.comment }}</div>
    <div class="form_div"><input type="submit" value="{% trans 'Send'%}"/></div>
  </form>
  <br />
{% endblock %}
