body {
/* #A7CD9A - #749F64*/
  background: url(../images/green_white/bg.png) repeat-x top #A7CD9A;
}

a, .link {
  color:#749F64;
}

a:hover, .link:hover {
  color:#6784BD/*#5871A2*/;
}

a:visited {
/*   color:gray; */
}

a.no_hover:hover {
  background:transparent;
}

input, textarea, button {
  border-top:1px solid gray;
  border-left:1px solid gray;
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-style:inset;
}

input:focus, textarea:focus {
  background:#efefef;
}

input[type="submit"]:active, button:active {
  color: gray;
}

.small_text {
  color: gray;
}


/*******************/
/* Cabecera y menú */
/*******************/


#head {
  background: url(../images/green_white/head_bg.png) top repeat-x white;
  border:2px solid #6C945D;
  border-top:0px;
  border-bottom:0px;
}

#menu a {
/*   border:0px solid green; */
}

#menu a:first-letter, .logged_in:first-letter {
  color:orange;
}

#menu .logged_in {
  color:#749F64;
}

#menu a:hover {
  background: url(../images/green_white/menu_hover.png) top repeat-x;
  color:gray;
}

#menu .active {
  background: url(../images/green_white/menu_active.png) top repeat-x;
  color:#777;
}

.new_comic {
  color: #FFFFFF; /*#223B59;*/
}


/*******************/
/*    Contenido    */
/*******************/


#content {
  background:white;
  border-color:#6C945D;
  border-width: 0px 2px 2px 2px;
  border-style:solid;
}

#disclaimer {
  border-top:1px solid gray;
}


/********************/
/* Vista de lectura */
/********************/


#navigation_box {
  background: top left no-repeat #F2FFF0;
  border:1px solid gray;
}

#navigation_box .navBar {
  color:gray;
}

#navigation {
/*   border:0px solid green; */
  border-bottom:1px dashed gray;
}

#comics {
/*   border:0px solid black; */
}

div.comic {
/*   border-top:0px solid gray; */
}

.unread_comic {
  color:orange/*#7CB34F*/;
}

#read_comics .comic_info {
  border:1px solid #eee;
}

#read_comics .comic_info ul.menu {
  background:#ddd;
  border:1px solid #6b6b6b;
}

#read_comics .comic_info li {
  color:#444;
}

#read_comics .comic_info li:hover {
  background:#bbb;
}


/*********************/
/* Vista de registro */
/*********************/


#errorContainer {
  border:1px solid red;
  background: #FFDBDB;
}

.error_tr {
  background: #FFDBDB;
}


/**************************/
/* Vista de configuración */
/**************************/


#configure_wrapper .table_wrap {
/*   border:0px solid blue; */
}

#configure_wrapper .table_wrap td {
/*   border:0px solid blue; */
}

.emptyPlaceMarker {
  background:transparent;
  border:2px dashed #888;
}

div.sortable_box {
/*   border:0px solid green; */
}

div.sortable_box ul.list {
  border:1px solid #eee;
}

#drag_drop {
  background: #D1D1D1;
  border: 1px dashed #999;
}

.blue li.item {
  background: #9FC7FF;
  border:1px solid #84A5D3;
}

.green li.item {
  background: #C5FF95;
  border:1px solid #9BC975;
}

div.sortable_box li.item_hover {
  background:#ccc;
}

div.sortable_box .comic_info {
/*   border:0px solid red; */
}

div.sortable_box .comic_info img {
/*   border:0px solid green; */
}

div.sortable_box .menu {
  background:#ddd;
  border:1px solid #6b6b6b;
}

div.sortable_box .menu li {
  color:#444;
}

div.sortable_box .menu li:hover {
  background:#bbb;
}

#new_comics_box {
  border:1px solid #eee;
}

#news, .saved {
  color:gray;
}

.filter_input {
  border:0px solid gray;
  background:white;
}

.filter_input:focus {
  background:transparent;
}

.filter_wrapper {
  border-top:1px solid gray;
  border-left:1px solid gray;
  border-right:1px solid black;
  border-bottom:1px solid black;
  border-style:inset;
}

.filter_wrapper a img {
/*   border:0px solid gray; */
}

.cloud {
  border:1px solid #eee;
}

a.tag_link {
  color:gray;
}


/*******************/
/* Vistas de ayuda */
/*******************/


#help p:first-letter {
  color:orange;
}


/*******************/
/*      Otras      */
/*******************/


#comic_list .comic {
  border:1px solid #eee;
}

#comic_list .comic .label {
  color:gray;
}

#comic_list .comic .votes {
  color:gray;
}

#comic_list .comic .subscription {
  color:gray;
}


/*******************/
/*     Perfil      */
/*******************/


.accounts_saved {
  border:1px solid #C2FFBA;
  background: #E7FFE4;
}


/*******************/
/*      Blog       */
/*******************/


#blog .post {
  border-bottom: 1px solid #eee;
}

#blog .new_post {
  background:#EEFFEA;
  border-bottom: 1px solid #eee;
}

#blog_side ul {
  border-bottom:1px solid #eee;
}

#blog_side li {
  border-bottom:1px solid #f5f5f5;
}


/*******************/
/*   Rounded Box   */
/*******************/


.rounded_box .cell {
  background:#F2FFF4;
}

.rounded_box .row {
/*   border:0px solid blue; */
}

.rounded_box .t {
  background: url(../images/green_white/rbox/t.png) repeat-x top;
}

.rounded_box .b {
  background: url(../images/green_white/rbox/b.png) repeat-x top;
}

.rounded_box .r {
  background: url(../images/green_white/rbox/r.png) repeat-y top;
}

.rounded_box .l {
  background: url(../images/green_white/rbox/l.png) repeat-y top;
}

.rounded_box .bl {
  background: url(../images/green_white/rbox/bl.png) no-repeat;
}

.rounded_box .tl {
  background: url(../images/green_white/rbox/tl.png) no-repeat;
}

.rounded_box .br {
  background: url(../images/green_white/rbox/br.png) no-repeat;
}

.rounded_box .tr {
  background: url(../images/green_white/rbox/tr.png) no-repeat;
}
