<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load i18n static %}

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
        <!--
        Welcome to...
                                _
                               (_)
          ___  ___   _ __ ___   _   ___  __ _   __ _   __ _
         / __|/ _ \ | '_ ` _ \ | | / __|/ _` | / _` | / _` |
        | (__| (_) || | | | | || || (__| (_| || (_| || (_| |
         \___|\___/ |_| |_| |_||_| \___|\__,_| \__, | \__, |
                                                __/ |  __/ |
                                               |___/  |___/

        -->
		<title>{% block title %}{% endblock %} Comic Aggregator</title>
		<link rel="stylesheet" href="{% static 'base/css/base.css' %}" type="text/css"/>
		<link rel="shortcut icon" href="{% static 'base/img/favicon.png' %}" type="image/png" />
		<script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js" type="text/javascript"></script>
		<script src="//code.jquery.com/jquery-1.6.1.min.js" type="text/javascript"></script>
		<script type="text/javascript">
			var $j = jQuery.noConflict();
		</script>
		<script src="{% static 'base/js/all.js' %}" type="text/javascript"></script>
		<script type="text/javascript">
			var titlebase = " Comic Aggregator";
            var static_url = '{% static 'base/' %}';

			{% if user.is_authenticated %}
            var url_add = '{% url 'comics:ajax:add_comic' %}';
            var url_forget_new_blogs = '{% url 'news:ajax:forget_new_blogs' %}';
            var url_forget_new_comic = '{% url 'comics:ajax:forget_new_comic' %}';
            var url_mark_all_read = '{% url 'comics:ajax:mark_all_read' %}';
            var url_mark_as_read = '{% url 'comics:ajax:mark_read' %}';
            var url_remove = '{% url 'comics:ajax:remove_comic' %}';
            var url_remove_list = '{% url 'comics:ajax:remove_comic_list' %}';
            var url_report = '{% url 'comics:ajax:report_comic' %}';
            var url_save_selection = '{% url 'comics:ajax:save' %}';
            var unreadCounter = {{ unread_count }};
            var comicCounter = {{ comic_count }};
            var newComicCounter = {{ newcomic_count }};			
            var newsCounter = {{ news_count }};     
			{% endif %}
		</script>
{% block extra_head %}{% endblock %}
	</head>
	<body onload="{% block onload %}{% endblock %}">
		<div id="head">
			{% if user.is_superuser or not MAINTENANCE %}
			{% if user.is_authenticated %}
			<div id="head_right">
				<a href="{% url 'accounts:profile' %}"><i><b>{{ user.username }}</b></i></a>&nbsp;&nbsp;-&nbsp;&nbsp;<span class=""><a href="{% url 'news:index' %}">{% trans "news" %}<span id="menuNewsCounter">{% if news_count %} ({{ news_count}}){% endif %}</a></span>&nbsp;&nbsp;{% if user.is_staff %}<span class=""><a href="/admin/">{% trans "admin" %}</a></span>&nbsp;&nbsp;{% endif %}<span class=""><a href="{% url 'contact' %}">{% trans "contact" %}</a></span>&nbsp;&nbsp;<span class=""><a href="{% url 'accounts:logout' %}">{% trans "logout" %}</a></span>
			</div>
			<div id="head_left">
				Comics:&nbsp;&nbsp;<span class=""><a href="{% url 'comics:read' %}">{% trans "read" %}<span id="menuUnreadCounter">{% if unread_count %} ({{ unread_count}}){% endif %}</span></a></span>&nbsp;&nbsp;<a href="{% url 'comics:add' %}">{% trans "choose" %}<span id="menuNewComicCounter">{% if newcomic_count %} ({{ newcomic_count}}){% endif %}</span></a></span>&nbsp;&nbsp;<span class=""><a href="{% url 'comics:organize' %}">{% trans "organize" %}</a>&nbsp;&nbsp;<span class=""><a href="{% url 'comics:requests' %}">{% trans "request" %}</a></span>
			</div>
			{% else %}
      <div id="head_right">
        <span class=""><a href="{% url 'news:index' %}">{% trans "news" %}</a></span>&nbsp;&nbsp;<span class=""><a href="{% url 'contact' %}">{% trans "contact" %}</a></span>&nbsp;&nbsp;<span class=""><a href="{% url 'accounts:login' %}">{% trans "login" %}</a></span>
      </div>
      <div id="head_left">&nbsp;</div>
			{% endif %}
			{% endif %}
			<div id="branding">
				<a href="/">Comic Aggregator</a>
{% if MAINTENANCE and user.is_superuser %}&nbsp;DB: {{ DATABASES_NAME }}{% endif %}
			</div>
		</div>
		<div id="content">
{% block content %}
{% endblock %}
		</div>
	</body>
</html>
