/* Roger Shah presents Magic Island - Music for Balearic People Episode 061 */
body {
	font-family:sans-serif;
	font-size:9pt;
	color:#333;
	padding:0;
	margin:0;
	background:transparent url(/media/images/v2010/trama.gif) top left;
	min-width:800px;
}
a {
	color:#333;
	text-decoration:underline;
	text-shadow:#ccc 1px 1px 1px;
}
a:hover, a:visited:hover {
	color:#6b98b5;
	cursor:pointer;
}
a:visited {
	color:#444;
}
.text_left {
	text-align:left;
}
.text_right {
	text-align:right;
}
.text_center {
	text-align:center;
}
.bolder {
    font-weight:bolder;
}
#content {
	margin-top:40px;
	padding:0em 2em;
}
input, button {
	background-color:#f0f0f0;
	color:#333;
	border:1px solid gray;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:1px 3px;
}
button:hover {
	background-color:#ddd;
	border-color:#6b98b5;
}
.center { text-align:center }
/* Menu*/
#head {
	color:white;
	padding: 10px 1em 2px 1em;
/* 	border-bottom:1px solid #8e8e8e; */
/* 	background:url(trans-bg-30.png) transparent top left repeat; */
/* 	background-color:white; */
	height:28px; /*40-h*/
	background:transparent url(../../images/v2010/background.png) top center repeat-x;
	position:fixed;
	left:0;
	right:0;
	top:0;
	text-shadow:#45545D 1px 1px 1px;
}
#head a {
	color:white;
    text-shadow:#45545D 1px 1px 1px;
}
#head a:hover {
	color:#ddd;
}
#head_right {
	float:right;
	min-width:25%;
	text-align:right;
}
#head_left {
	float:left;
	min-width:25%;
}
#branding {
	text-align:center;
	font-weight:bolder;
}
#branding a {
	text-decoration:none;
}
#quickgotobutton {
	border:1px solid white;
	text-decoration:none;
	padding:0px 2px;
}

/* Login views */

.loginbox, .box {
	border:1px gray solid;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	background-color:white;
	width:500px;
	margin:10% auto 0px auto;
	text-align:center;
	padding:15px;
}
.loginbox:hover, .loginbox input:hover {
	border-color: #7cb9ff;
	border-color: #8baec1;
}
#login_wrap {
	margin-top:20px;
}
#login_wrap table {
	margin:auto;
	text-align:right;
}
.loginbox input {
	border:1px solid gray;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:2px;
}
.loginbox input:focus {
	border-width:2px;
}
#register_wrap {
	width:700px;
	margin-top:60px;
}

#register_table td {
	vertical-align:text-top;
	padding-bottom:5px;
	text-align:left;
}
#register_table tr>:first-child {
	text-align:right;
	padding-right:5px;
}

#errorContainer {
	border:1px solid red;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background-color:#ffcccc;
	padding:5px;
}
.error_tr input {
	border-color:red;
}

.errorlist {
	color:red;
	margin:3px;
	padding-left:15px;
}

.errorlist li {
}

/* Read page */

#read .extras_div {
	float:right;
	text-align:right;
}

#read .comic {
	border:1px solid gray;
	background-color:white;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	padding:5px 1em 5px 1em;
	margin-top:10px;
	margin-bottom:10px;
/* 	position:relative; */
}
#read .comic h3 {
	margin:0;
	padding:0;
	font-size:12pt;
}
#read .comic .striplist {
	margin:5px auto 5px auto;
	text-align:center;
}
#read .comic .comicextra {
	border-top:1px dashed gray;
}
#read .comic .comicextra a {
	text-decoration:none;
}
#read .comic .comicextra img {
	vertical-align:middle;
	border:0;
}
#read .comic .comicextra .reload {
	font-weight:bolder;
}
#read .comic .comicextra .wrap {
	margin-left:6px;
}
#read .comic .comicextra .anims {
	float:left;
	width:20px;
}
#read .comic .newstripsnotice {
	color:orange;
	font-weight:bolder;
	float:left;
/*     position:absolute; */
}
#read .info {
	margin:0;
	padding:0;
}
#read .top_info {
	position:relative;
	background:white;
	border:1px solid #eeeeee;
	padding:2px;
	-moz-border-radius:4pt;
	-webkit-border-radius:4pt;
	z-index:-10;
}
#read .top_info div {
	text-align:right;
	position:absolute;
	right:3px;
	bottom:3px;
}
#read .top_info div img {
	vertical-align:middle;
}
/* Configure page */

#organize .comic_list {
	font-size:9pt;
	border:1px solid gray;
	-moz-border-radius:8pt;
	-webkit-border-radius:8pt;
	padding:5px;
/* 	line-height:14pt; */
	background:white;
	margin-bottom:2em;
	margin-top:1.5em;
	clear:both;
}
#organize .comic_list .item {
}
#organize .comic_list .name, .comic_list .score, .comic_list .votes {
	display:none;
}
#organize .dndContainer {
	cursor: default;
}
/*.dojoDndContainerOver {
}*/
#organize .dojoDndItem { 
	background:white;
	float:left;
	border:1px solid gray;
	padding:2px 12px;
	margin:0px 3px 3px 0px;
	-moz-border-radius:5pt 5pt;
	-webkit-border-radius:5pt 5pt;
}
#organize .dojoDndItemOver {
	background: #ededed;
	cursor:pointer;
}
#organize .dojoDndItemSelected {
	background: #ccddff; color: #444;
}
#organize .dojoDndItemAnchor {
	background: #ccddff; color: black;
}
#organize .dojoDndItemOver .dojoDndItemSelected {
	background: #ccddff;
}
#organize .dojoDndItemOver .dojoDndItemAnchor {
	background: #ededed;
}
#organize .dojoDndItemBefore {
	background:url(/media/images/2leftarrow_bw10.png) #ccc left center no-repeat;
}
#organize .dojoDndItemAfter {
	background:url(/media/images/2rightarrow_bw10.png) #ccc right center no-repeat;
}
#organize .dojoDndAvatar {
	border:2px solid #ccc;
	font-size: 75%;
	-moz-border-radius:8pt 8pt;
	radius:8pt;
	background:white;
}
#organize .dojoDndAvatarHeader {
	background: #aaa;
}
#organize .dojoDndAvatarItem {
	background: #fff;
	border-bottom:1px solid #666;
}
#trash {
/* 	width:48px; */
	height:48px;
/* 	border:1px solid gray; */
	padding-right:50px;
	float:right;
	vertical-align:middle;
	background:url(/media/images/trash.png) right center no-repeat transparent;
	cursor:pointer;
}
#organize .save, #add .save {
	float:left;
	cursor:pointer;
}
#organize .save:hover, #add .save:hover {
	color:#6b98b5;
	background:#efefef;
}
#organize .save, #add .save img {
	vertical-align:middle;
}
#organize .save_button, #add .save_button {
	width:auto;
	background:#96d25a;
	border:2px solid gray;
	line-height:16px;
}
#organize .save_button:hover, #add .save_button:hover {
	width:auto;
	background:white;/*#8ec755;*/
	float:left;
	cursor:pointer;
}
#comic_list_wrap {
	width:350px;
    position:relative;
}
#comic_list_wrap p {
	height:24px;
	margin:0;
}
#comic_list_wrap > span {
    position:absolute;
    right:0;
    top:4px;
    font-size:smaller;
}
#comic_list {
	border:1px solid gray;
	border-width:1px 0px 1px 1px;
	list-style-type:none;
	margin:0;
	margin-top:8px;
	padding:0;
	overflow:scroll;
	overflow-x:hidden;
	clear:both;
	background-color:white;
}
#comic_list .comic {
/* 	width:300px; */
	padding:2px 0px;
	text-align:center;
	border-bottom:1px solid gray;
	border-left:0px solid gray;
	background:white;
	cursor:pointer;
}
#comic_list .comic:hover {
	background-color:#ccc;
}
#comic_list .last {
	border-bottom:0;
}
#comic_list .added {
	background:#ccddff /*url(/media/images/ok12.png)*/ right center no-repeat;
    font-weight:bolder;
}
#comic_list .working {
    background:url(/media/images/loading12.gif) right center no-repeat;
}
#comic_list .new {
	background:#ddffcc /*url(/media/images/flag12.png)*/ right center no-repeat;
}
#comic_list .error {
    background:url(/media/images/error12.png) right center no-repeat;
}
#comic_list .noimages:after {
	content: url(/media/images/warning12.png);
	vertical-align:middle;
}
#comic_new {
	color:orange;
}
#comic_info_outer {
	position:absolute;
	margin-left:360px;
	top:70px;
	right:10px;
	left:30px;
	bottom:10px;
}
#comic_info_outer > p {
    padding:0px 0px 5px 0px;
    margin:0;
    text-align:center;
}
#comic_info {
    padding:3px 8px;
	background:white;
	border:1px solid gray;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	min-height:200px;
}
#comic_info h3 {
	margin:5px 0;
	padding:0;
}
#comic_info h4 {
	margin:0;
	padding:0;
}
#comic_info p {
    margin:2px 5px;
}
#comic_info_wrap {
/* 	margin-left:1em; */
}
#hover_notice {
	text-align:center;
}
input.filter {
	background:white;
	color:#666;
	width:180px;
    font-size:smaller;
}
#comic_image {
	margin:0;
	padding:0;
	text-align:center;
}
#comic_image img {
	margin:0;
	padding:0;
}

#request_list {
    width:95%;
    margin:0px auto 0px auto;
    text-align:left;
}
#request_list ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
#request_list li {
    margin:0;
    margin-left:30px;
    padding:0;
    font-weight:bold;
}
#request_list li.first_line {
    margin-left:5px;
    font-weight:normal;
}
#request_list li img {
    vertical-align:middle;
}
#request_new, #request_new form {
    margin-left:15px;
}
#request_list li p {
    font-weight:normal;
    margin:0;
    margin-left:15px;
    padding:0;
}
#thanks {
    font-weight:bolder;
    border:1px solid gray;
    background-color:#BEFFB8;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:3px 6px;
    width:300px;
}

#blog_wrapper {
    width:95%;
    margin:0px auto 0px auto;
    text-align:left;
}
#blog {
    margin-right:200px;
}
#blog div.news_info {
    margin:5px;
    font-size:smaller;
    color:gray;
}
#blog .post {
    padding:4px;
    margin:0px 10px 10px 0px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#blog .new_post {
    background-color:#F4F4E9;
}
#blog .post h4 {
    margin:0px 0px 10px 0px;
}
#blog .post img {
    vertical-align:middle;
}
#blog .post .text {
    margin-left:18px;
}
#blog_side {
    float:right;
    width:200px;
}
#blog_side ul {
    margin:0;
    padding:0 0 0 20px;
}
#blog_side .all_link {
    text-align:center;
}
