{% extends 'agregator/organize_base.html' %}
{% load i18n agregator_tags %}
{% block title %}{% trans 'Organize' %} - {% endblock %}
{% block extra_head %}
        <link rel="stylesheet" href="{{ mediaurl }}css/dnd.css" type="text/css"/>
        <script src="http://ajax.googleapis.com/ajax/libs/dojo/1.4/dojo/dojo.xd.js" type="text/javascript"></script>
        <script src="{{ mediaurl}}js/organize.min.js" type="text/javascript"></script>
        <script type="text/javascript">
var usercomics = [];
var usercomics_id = [];
{% for comic in user_comics %}
    a = {'id':{{ comic.id}}, 'name':"{{ comic.name|escape }}", 'slug':"{{ comic.name|slugify }}", 'score':{{ comic.getRating|perc:8 }}, 'votes':{{ comic.votes }}};
    usercomics.push(a);
    usercomics_id[{{ comic.id }}] = a;
{% endfor %}
dojo.require("dojo.dnd.Container");
dojo.require("dojo.dnd.Manager");
dojo.require("dojo.dnd.Source");
dojo.require("dojo.dnd.Avatar");
dojo.addOnLoad(initDND);
        </script>
{% endblock%}
{% block onload %}{% endblock %}
{% block orgcontent %}
<div id="organize">
    <h3>{% trans "Organize your comics" %}</h3>
    <div id="trash">
        <p>{% trans "Drop comics here<br/>to delete them" %}</p>
    </div>
    <p>{% trans "Here you can sort your comics. Just select one or some of them (holding the Ctrl/Meta key) and drag them around." %}</p>
    <div class="save">
        <span id="saved" style="display:none"><img src="{{ mediaurl }}images/ok16.png" alt=""/></span>
        <span id="saving_text" style="display:none"><img src="{{ mediaurl }}images/loaderarrows.gif" alt=""/></span>
        <span id="save_error" style="display:none"><img src="{{ mediaurl }}images/remove.png" alt=""/> <span style="font-size:smaller"><a onclick="save()">({% trans "retry" %})</a></span></span>
    </div>
    <div class="text_center">
    {% spaceless %}
        {% trans "Sort them:" %}&nbsp;
        <a onclick="sort_items(true)">{% trans "by name" %}</a>,&nbsp;
        <a onclick="sort_items(false)">{% trans "by score" %}</a>.
    {% endspaceless %}
    </div>
    <div class="comic_list">
        <div id="user_comics">
    {% for comic in auser_comics %}
            <span id="comic_{{ comic.id }}" class="dojoDndItem item">{{ comic }}</span>
    {% endfor %}
        </div>
        <div style="clear:both"></div>
    </div>
</div>
{% endblock %}