<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% load i18n %}

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{% block title %}{% endblock %} Comic Aggregator</title>
		<link rel="stylesheet" href="{{ mediaurl }}css/v2009/base.css" type="text/css"/>
		<link rel="shortcut icon" href="{{ mediaurl }}images/favicon.png" type="image/png" />
		<script src="{{ mediaurl }}js/lib/prototype.js" type="text/javascript"></script>
		<script src="{{ mediaurl }}js/lib/scriptaculous.js" type="text/javascript"></script>
		<script src="{{ mediaurl }}js/v2009/all.js" type="text/javascript"></script>
		<script type="text/javascript">
			var url_hide_new_comics = '{% url hide_new_comics %}';
			var url_hide_new_blogs = '{% url hide_new_blogs %}';
			var url_forget_new_blogs = '{% url forget_new_blogs %}';
			var url_forget_new_comics = '{% url forget_new_comics %}';
			var url_forget_new_comics_quick = '{% url forget_new_comics_quick %}';
			var url_rate = '{% url rate %}';
			var url_mark_as_read = '{% url mark_read %}';
			var url_save_tags = '{% url save_tags %}';
			var url_configure = '{% url configure %}';
			var url_save_selection = '{% url save_selection %}';
			var url_add = '{% url add_comic_ajax %}';
			var url_remove = '{% url remove_comic_ajax %}';
			var url_report = '{% url report_comic %}';
			var url_comic_list = '{% url comic_list %}';
			var url_comic_list_load = '{% url comic_list_load %}';
			var media_url = '{{ mediaurl }}';
			var url_error = '{{ mediaurl }}images/error.png';
			var url_loading = '{{ mediaurl }}images/loading.gif';
			var css_blue_white = '{{ mediaurl }}css/blue_white.css';
			var css_green_white = '{{ mediaurl }}css/green_white.css';
			var css_gray_white = '{{ mediaurl }}css/gray_white.css';
			var css_red_white = '{{ mediaurl }}css/red_white.css';
			var url_save_color = '{% url save_color %}';
		</script>
{% block extra_head %}{% endblock %}
	</head>
	<body onload="{% block onload %}{% endblock %}">
		<div id="head">
			{% if user.is_authenticated %}
			<div id="head_right">
				<i><b>{{ user.username }}</b></i> | {% trans "profile "%} | {% trans "help" %} | {% trans "news" %} | <a href="{% url logout %}">{% trans "logout" %}</a>
			</div>
			<div id="head_left">
				Comics: <a href="{% url read %}">{% trans "read" %}<span id="menuUnreadCounter"></span></a> | <a href="{% url configure %}">{% trans "choose" %}</a> | {% trans "request" %} | <a href="{% url comic_list %}">{% trans "list" %}</a>
			</div>
			{% endif %}
			<div id="branding">
				<a href="/">Comic Aggregator</a>
			</div>
		</div>
		<div id="content">
{% block content %}
{% endblock %}
		</div>
	</body>
</html>
